
.right-contents
  .right-contents__group
    .right-contents__group__name
      .right-contents__group__name__box
        =@group.name
        %ul.menber-list
          %li Menber:
          - @group.users.each do |user|
            %li
            =user.name
    .right-contents__group__edit
      = link_to "Edit", edit_group_path(@group), {class: 'right-contents__group__edit__btn'}
  .right-contents__message
    = render @messages
  .right-contents__from
    = form_for [@group, @message], html: {class: 'right-contents__from__box'} do |f|
      .right-contents__from__box__mask
        = f.text_field :body, class: 'right-contents__from__box__mask__message-text', placeholder: 'type a message'
        = f.label :image, class: 'right-contents__from__box__mask__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'right-contents__from__box__mask__image__file'
      = f.submit 'Send', class: 'right-contents__from__box__btn'
